.container{
   height: 100%;
   display: flex;
   flex-direction: column; 
   
   .toolbar{
   flex: 0 0 46px;  
   background: #ffffff;
   padding-top: 8px;
   padding-right: 28px;
      .icon {
        font-size: 24px;
        color: #333335;
        width: 25%;
      }
   }
   :global {
     .ant-btn {
      padding-right: 6px;
     }
   }
   .slide {
      width: 160px;
      height: 100px;
      border: 1px solid #333335 ;
      position: relative;
   }
   .selectSlide {
      background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
   }
 }
 
 