
.container {
  :global {
    .ss{
      
    }
    .ant-tabs-nav-list {
      width: 100%;
      display: flex;      
    } 
    .ant-tabs-tab {
      flex-grow:1; 
    }
    .ant-tabs-tab-btn {
      margin: auto;
    }
    .ant-tabs-content {
      padding-left: 16px;
    }
  }
}
 