.container{
   :global {
      .ant-tabs-nav-list{
        width: 100%;
        *{
          flex: 1;
        }
        .ant-tabs-tab-btn {
          text-align: center;
        }
      }
      .ant-tabs-content {
        padding-left: 16px;
      }
   }
 }
 