.container{
   height: 100%;
   display: flex;
   flex-direction: column; 
   
   .toolbar{
   flex: 0 1 46px;  
   background: #ffffff;
   display: flex;
   padding: 8px;
    .free {
      flex: 1;  
    }
   }
   
   .draggableContainer{
     flex-grow: 1;
     padding-top: 20px;
     
     .editingSlide {
      height: 100%;
      border: 1px solid #333335 ;
      position: relative;
      left:0;
   }
   }
 }
 
 